.content{
  padding: 20px 10% 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 40px;
}

img {
  height: 100%;
  width: 100%;
  max-width: 600px;
}

.display-3 {
  margin-top: 40px;
  font-family: "Great Vibes", cursive;
}

.social {
  justify-content: space-between;
}


@media screen and (max-width:920px){
  .content{
    padding: 10px 10% 100px;
    display: grid;
    grid-template-columns: 1fr;
  }
}