<!--About page with img and social media icons-->
<div class="display-3 text-center">About us</div>
<div class="content">
  <img src="./assets/images/restaurantAbout.jpg" alt="image inside" />
  <div class="script">
  <p>
    Benvenuto al Ristorante Il Gambero Rosso. Feel good and enjoy the special
    Italian atmosphere. Let yourself be pampered by our team and dine by
    romantic candlelight. Homemade pasta and pizzas from the best Italian
    growing areas. Voted as the best Restaurant in Padova Province, in the North
    of Italy. Open every day, warm meals throughout!
  </p>

  <h2 class="text-center">Where to find us</h2>
  <div class="social text-center">
    <p>Facebook <i class="fa-brands fa-square-facebook"></i></p>
    <p>Instagram <i class="fa-brands fa-square-instagram"></i></p>
    <p>Twitter <i class="fa-brands fa-x-twitter"></i></p>
    <p>TikTok <i class="fa-brands fa-tiktok"></i></p>
  </div>
</div>
</div>
