<nav class="navbar navbar-expand">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/home"><i class="fa-solid fa-shrimp fa-xl" style="color:red"></i></a>
          <a class="nav-link" routerLink="/home">Home</a>
          <a class="nav-link" routerLink="/about">About us</a>
          <a class="nav-link" aria-current="page" routerLink="/">Menu</a>
          <a class="nav-link" routerLink="/order">Cart</a>
         <!-- navbar component with routerLinks for all the components-->
        </div>
      </div>
    </div>
  </nav>
