
.navbar{
background-color: whitesmoke;
z-index: 1;
}

a{
font-weight: bold;
font-size: 5vh;
font-family: 'Great Vibes';

}

@media screen and (max-width:480px){

    .navbar{
        padding: 0 30px;
        background-color: whitesmoke;
        }

    .navbrar-nav{
        background-color: whitesmoke;
    }

    a{
        font-weight: bold;
        font-size: 3vh;
        font-family: 'Great Vibes';
        
        }

     



}