<h1 class="items">Cart items</h1>
<div class="container">

<!--Display of items added to the cart with for loop <h2 class="text-center bg-dark text-white p-3
   fw-bold rounded mb-10" style="width: 40%;">Shopping Basket</h2>-->

      
      <div *ngFor="let val of order, index as i">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col">
            <img src="{{val.image}}" class="img-fluid rounded-start" alt="{{val.name}}">
          </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">{{val.name}}</h5>
              <p class="card-text">{{val.description}}</p>
              <p class="card-text">€ {{val.price}}</p>
              <p>{{val.qtty}} item(s)</p>
            </div>
          </div>
        </div>
      </div>
      </div>

  
<section class="right">
<h2 class="text-center sum">Summary</h2>
<hr>
<p>Total without discount: {{ total.toFixed(2) }}€</p>

<div *ngIf="total>40">
  <p>Discount: {{discount}}%</p>
    <p>Amount after discount: {{discountTotal().toFixed(2)}}€</p>
</div>
<div *ngIf="total<=40">
</div>

<div>Service charge: {{(total*(serviceTip/100)).toFixed(2)}}€</div>
<hr>
<div class="totAmount">Total amount (including VAT): {{((discountTotal())+(total*(serviceTip/100))).toFixed(2)}}€</div>
</section>



<div class="submit">
<h1>Order form</h1>
<p>Please fill up the info for the delivery</p>
<hr>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Address:</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Purchase</button>
</form>
</div>
</div>