<div class="container"><h1 class="text-center">Cart items</h1>

<!--Display of items added to the cart with for loop-->
<div *ngFor="let val of order">
<div class="card mb-3" style="max-width: 540px;">
   <div class="row">
      <div class="col-md-4">
      <img src="{{val.image}}" class="img-fluid rounded-start mx-2 my-2" alt="...">
      </div>
      <div class="col-md-8">
      <div class="card-body">
      <h5 class="card-title">{{val.name}}</h5>
      <p class="card-text">{{val.price}}€</p>
      <p class="card-text"><small class="text-body-secondary">{{val.description}}</small></p>
      </div>
      </div>
      </div>
    </div>
    </div>
  


  
<section class="right">
<h2 class="text-center">Summary</h2>
<p>Total without discount: {{ total.toFixed(2) }}€</p>

<div *ngIf="total>40">
  <p>Discount: {{discount}}%</p>
    <p>Amount after discount: {{discountTotal().toFixed(2)}}€</p>
</div>
<div *ngIf="total<=40">
</div>

<div>Service charge: {{(total*(serviceTip/100)).toFixed(2)}}€</div>
<hr>
<div>Total amount(including VAT): {{((discountTotal())+(total*(serviceTip/100))).toFixed(2)}}€</div>
</section>

</div>

<div class="submit">
<h1>Order form</h1>
<p>Please fill up the info for the delivery</p>
<hr>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Address:</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Purchase</button>
</form>
</div>