<style>

    
    body{
        background-image: url('./assets/images/hero.jpg');
        background-repeat: repeat-y;
        background-size: cover;
        z-index: -1;
        /*filter: brightness(0.6);
        filter: blur(8px);
      -webkit-filter: blur(8px);*/
    
    } 
    </style>
<body>
    



<!--Printing the menu-list with a loop using bootstrap cards-->

<div class="container" >
<h1 class="display-1">Our specialties</h1>
<h3 class="text-center" style="color: rgb(212, 241, 23); padding: 10px;">Order over 40€ and get 15% Discount</h3>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
<div *ngFor="let value of menuArr; index as i">
<div class="card text-left" style="max-width:100%;">
<img src="{{value.image}}" alt="dish">
<div class="card-body p-2">
<h3 class="card-title">{{value.name}}</h3>
<hr>
<h5 class="price">€ {{value.price}}</h5>
<hr>

<!--when we click a product(dish) to see its index in the url with the routerlink. 
    Showing buttons if availability is true. If==false, hide the button and message diplayed "Not available"-->
<div class="card-title text-start" *ngIf="value.availability==true">
    <button routerLink="details/{{i}}" class="btn">Details</button>
    <button type="button" class="btn add" (click)="addToCart(value)">Order Now</button></div>
    <div *ngIf="value.availability==false"><h2 class="text-danger">Item not available</h2></div>
</div>
</div>
</div>
</div>
</div>
</body>