<!--Hero section with img and text overlay-->

<div class="hero">
  <div
    class="p-5 text-center imgBg"
    style="
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
        url(&quot;./assets/images/hero.jpg&quot;);
      background-attachment: fixed;
      background-position: center;
    "
  >
    <div class="d-flex justify-content-center">
      <div class="mask">
        <div class="text-black">
          <h1 class="mb-3">Ristorante Il Gambero Rosso</h1>
          <h3>Delivering great food for more than 18 years!</h3>
          <a routerLink="/menu"
            ><button class="btn btn-success">Our menu</button></a
          >
          <button class="btn btn-success active">Book a table</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div><h1 class="feels text-center">Feels like home</h1></div>
<!--Home page content-->
<div class="container1">
  <div class="left1">
    <img class="img1" src="./assets/images/home.jpg" alt="..." />
  </div>

  <div class="right1">
    <div class="script">
      <p>
        Nested in the historical heart of Padua, inside the aristocratic
        Prosdocimi Palace, a fine arts heritage, like a pearl it recalls scents,
        emotions and memories. It is a hushed and romantic location, lightened
        by dim lights, pastel colours and belle époque styled floral
        decorations. Care of the details, wine selection and culinary creativity
        are skillfully orchestrated to satisfy the most demanding palates.
        Unusual and exquisite matches, results of a wise revival of the
        tradition of Veneto, sophisticated background music and an impeccable
        service will make you walk on air.
      </p>
      <br />

      <ul class="list">
        <li>Delicious Food</li>
        <li>Authentic Italian Cuisine</li>
        <li>Chef's creations</li>
        <li>Ingredient quality</li>
        <li>Food variety</li>
        <li>Cozy and relaxed atmosphere</li>
      </ul>
    </div>
  </div>
</div>

<!--Home page content continues-->

<div><h1 class="feels text-center">Check our specials</h1></div>
<div class="container2">
  <div class="cardMenu">
    <img src="./assets/images/special.jpg" class="img2" alt="..." />
    <div class="card-text">
      <h4 class="card-title text-center">SPAGHETTI AL POLPO</h4>
      <p class="text-center">
        Fresh pasta,<br />
        baby octopus,<br />
        garlic,<br />
        tomatoes and parsley.
      </p>
    </div>
  </div>
</div>
