.hero {
  height: 70vh;
}

.imgBg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
  background-position: center;
  position: relative;
  background-color: black;
}

.mb-3 {
  margin-top: 5vh;
  font-family: "Great Vibes", cursive;
  font-size: 10vh;
  color: aliceblue;
}

h3 {
  color: aliceblue;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 10vh;
}

.btn {
  margin-right: 6px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.left1 {
  flex: 1;
}

.right1 {
  flex: 1;
  text-align: center;
}

.img1 {
  max-width: 80%;
  height: auto;
  padding-left: 150px;
  padding-top: 20px;
}

.script {
  max-width: 800px;
  margin: 0 20px;
  padding-right: 60px;
}

.list {
  list-style-position: inside;
  list-style-type: circle;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.cardMenu {
  display: flex;
  width: 70%;
  background-color: rgb(204, 218, 209);
}

.img2 {
  flex: 1;
  max-width: 40%;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  object-fit: cover;
}

.card-text {
  flex: 1;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    height: 35vh;
  }

  .imgBg {
    height: 30vh;
    width: 100%;
  }

  .mb-3 {
    margin-top: 1vh;
    font-size: 7vh;
  }

  .btn {
    font-size: 10px;
    margin-right: 6px;
  }

  h1 {
    font-size: 7vh;
  }

  h3 {
    color: aliceblue;
    font-size: 2vh;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
  }

  .img1 {
    width: 100%;
  }

  .script {
    padding: 10px;
    text-align: justify;
  }

  .cardMenu {
    padding: 10px;
    width: 80%;
  }

  .img2 {
    width: 20rem;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    height: 40vh;
    margin-bottom: 30px;
    padding: 0px;
  }

  .imgBg {
    height: 35vh;
    width: 100%;
    margin-bottom: 5px;
  }

  .mb-3 {
    margin-top: 5px;
    font-size: 5vh;
  }

  .btn {
    font-size: 8px;
    margin-right: 6px;
  }

  .feels {
    align-self: center;
    font-size: 6vh;
  }

  h3 {
    color: aliceblue;
    font-size: 2vh;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .img1 {
    width: 100%;
    padding-left: 90px;
    padding-top: 10px;
  }

  .cardMenu {
    width: 100%;
    margin: 10px;
  }

  .img2 {
    width: 20rem;
    height: auto;
  }

  .script {
    padding: 10px;
    text-align: justify;
  }

  .card-title {
    margin-top: 5px;
    font-size: 3vh;
  }

  .card-text {
    color: black;
  }
}
