
<!--Hero section with img and text overlay-->
<div class="hero">
    <div class="p-5 text-center img1"  style=" background-image: url('./assets/images/hero.jpg');">
        <div class="d-flex justify-content-center">
           <div class="mask">
           <div class="text-black">
            <h1 class="mb-3">Ristorante Il Gambero Rosso</h1>
            <h3>Delivering great food for more than 18 years!</h3>
            <button class="btn btn-success">Our menu</button>
            <button class="btn btn-success active">Book a table</button>
           </div>
           </div>           
</div>
</div>
</div>

<h1 class="text-center mb-20">Ristorante Il Gambero Rosso</h1>

<!--Home page content-->
<div class="container">

<img src="./assets/images/home.jpg" class="float-start" alt="...">


<div class= "script">
    <h4 class="display-3">Feels like home</h4>


<p>Nested in the historical heart of Padua, inside the aristocratic Prosdocimi Palace, 
    a fine arts heritage, like a pearl it recalls scents, emotions and memories.
    <br>
    It is a hushed and romantic location, lightened by dim lights, 
    pastel colours and belle époque styled floral decorations.
    <br> Care of 
    the details, wine selection and culinary creativity are skillfully 
    orchestrated to satisfy the most demanding palates.
    <br>
    Unusual and exquisite matches, results of a wise revival of the tradition of Veneto, 
    sophisticated background music and an impeccable service will make you walk on air.</p>

    <ul class="text-left">

        <li>Delicious Food</li>
        <li>Authentic Italian Cuisine</li>
        <li>Chef's creations</li>
        <li>Ingredient quality</li>
        <li>Food variety</li>
        <li>Cozy and relaxed atmosphere</li>
        
        </ul>
</div>

</div>
<div class="text-center"><h1>Check our specials</h1></div>
<!--Home page content continues-->

<div class="card text border-0" style="width: 100%;">
    <img src="./assets/images/special.jpg" class="img" style="width: 30rem;" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title text-center">SPAGHETTI AL POLPO</h5>
      <p class="text-center">Fresh pasta,</p>
      <p class="text-center">baby octopus,</p>
      <p class="text-center">garlic,</p>
      <p class="text-center">tomatoes and parsley.</p>
    </div>
  </div>

