
<!--Hero section with img and text overlay-->
<div class="hero">
    <div class="p-5 text-center img1"  style=" background-image: url('./assets/images/hero.jpg');">
        <div class="d-flex justify-content-center">
           <div class="mask">
           <div class="text-black">
            <h1 class="mb-3">Ristorante Il Gambero Rosso</h1>
            <h3>Delivering great food for more than 18 years!</h3>
            <button class="btn btn-success">Our menu</button>
            <button class="btn btn-success active">Book a table</button>
           </div>
           </div>           
</div>
</div>
</div>



<!--Home page content-->
<div class="container">

    <div><h1 class="feels text-center">Feels like home</h1></div>

<img src="./assets/images/home.jpg" class="float-start " alt="...">

<div class= "script">
    
<p>Nested in the historical heart of Padua, inside the aristocratic Prosdocimi Palace, 
    a fine arts heritage, like a pearl it recalls scents, emotions and memories.
    
    It is a hushed and romantic location, lightened by dim lights, 
    pastel colours and belle époque styled floral decorations.
     Care of 
    the details, wine selection and culinary creativity are skillfully 
    orchestrated to satisfy the most demanding palates.
    
    Unusual and exquisite matches, results of a wise revival of the tradition of Veneto, 
    sophisticated background music and an impeccable service will make you walk on air.</p>
    <br>

    <ul class="text-left">

        <li>Delicious Food</li>
        <li>Authentic Italian Cuisine</li>
        <li>Chef's creations</li>
        <li>Ingredient quality</li>
        <li>Food variety</li>
        <li>Cozy and relaxed atmosphere</li>
        
        </ul>
</div>

</div>

<div class="text-center"><h1 class="feels">Check our specials</h1></div>
<!--Home page content continues-->

<div class="card" style="background-color: bisque;">
    <img src="./assets/images/special.jpg" class="img2 float-start" alt="...">
    <div class="card-text">
      <h4 class="card-title text-center">SPAGHETTI AL POLPO</h4>
      <p class="text-center">Fresh pasta,<br>
                             baby octopus,<br>
                             garlic,<br>
                             tomatoes and parsley.</p>
    </div>
  </div>

