.container{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    padding:40px 20px;
}

.card{
  display:flex;
  flex-direction:column;
  margin-bottom:10px;
  position: relative;
}

  .card>div{
    box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
  }


  .card-image>img{
    width:100%;
    height:100%;
    object-fit:cover;
    
  }

  .card-text{
    margin:0px;
    margin-bottom:-80px;
    height:250px;
    width:100%;
    background-color:rgb(204, 218, 209);
    color:black;
    padding:10px;
  }
  
  .card-title{
    font-size:2.2rem;
    margin-bottom:20px;
    margin-top:5px;
  }
  .card-body{
    font-size:1.25rem;
  }
  .card-price{
    width:100px;
    height:50px;
    background-color:#970C0A;
    color:#fff;
    margin-right:auto;
    font-size:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  

.btn{
  position: absolute;
    font-size:2rem;
    padding: 5px;
    cursor: pointer;
    color:whitesmoke;
    background-color: green;
    transition: all 200ms ease;
    right: 5%;
    top: 93%;
  }

  @media screen and (max-width:480px){

    .card-text{
      
      margin-bottom:-70px;
      height:300px;
      width:100%;
      background-color:rgb(204, 218, 209);
      color:black;
      padding:10px;
    }

   .card-price{
    width: 50px;
    height: 30px;
    font-size: 1rem;
    left: 2%;
    top: 98%;
  
   }

   .btn{
    width: 30%;
    font-size: 1rem;
    right: 2%;
    top: 97%;
   }


  }